<ul class='list-group'>
  <% @comments.each do |comment| %>
    <li class='list-group-item'>
      <%= link_to comment.user.name, user_path(comment.user) %>
      &nbsp;&gt;&nbsp;
      <%= comment.content %><br>
      <span class='timestamp'>
        <%= t '.commented_ago', time: time_ago_in_words(comment.created_at) %>
      </span>
      <% if current_user? comment.user %> 
        <%= link_to t('.edit'), edit_comic_chapter_comment_path(comment.chapter.comic, comment.chapter, comment) %><br>
        <%= link_to t('.delete'),
          comic_chapter_comment_url(comment.chapter.comic, comment.chapter, comment),
          method: :delete,
          data: { confirm: t('.confirm') } %>
      <% elsif logged_in? && current_user.admin? %>
        <div>
          <%= link_to t('.delete'),
            comic_chapter_comment_url(comment.chapter.comic, comment.chapter, comment),
            method: :delete,
            data: { confirm: t('.confirm') }%>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
