<% provide :title, t('.all') %>
<h1><%= t '.all' %></h1>

<%= will_paginate %>

<ul class = 'users'>
  <%= render @users %>
</ul>
<% if current_user.admin? %>
  <p>
    <%= t '.download' %> 
    <%= link_to t('.export_csv'), users_path(format: 'csv') %>
    <%= link_to t('.export_xls'), users_path(format: 'xls') %>
  </p>
 <% end %>

<%= will_paginate %>
