<li id='comic-<%= comic.id %>'>
  <div class='user'><%= link_to comic.user.name, comic.user %></div>
  <div class='title'><%= link_to comic.title, comic %></div>
  <div class='content-comic'><%= comic.content %></div>
  <div class='author'><%= link_to comic.author.name, comic.author %></div>
  <div class='picture'> <%= image_tag comic.picture.url if comic.picture? %></div>
  <%= link_to t('.delete'), comic, method: :delete, data: { confirm: t('.sure') } %> |
  <%= link_to t('.edit'), edit_comic_path(comic) %>
</li>
