<%= form_for(@comic) do |f| %>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: t('.new_title') %>
  </div>
  <div class='field'>
    <%= f.label :content, t('.introduction') %>
    <%= f.cktext_area :content, rows: 10 %>
  </div>
  <div class='field'>
    <%= f.label t('.author') %>
    <%= f.select :author_id, options_from_collection_for_select(Author.all, :id, :name) %>
  </div>
  <div class='field'>
    <%= f.label t('.select') %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
      <div class='collection-check-box'>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.collection_radio_buttons :status, Comic.statuses.map{|key, value| [t(".#{key}"), key]}, :last, :first %>
  </div>
  <span class='picture'>
    <%= f.label :picture, t('.avatar') %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit t('.post'), class: 'btn btn-primary' %>
<% end %>
