<% provide :title, @comic.title %>
<h1><%= @comic.title %></h1>

<li id='comic-<%= @comic.id %>'>
  <div class='user'><%= link_to @comic.user.name, @comic.user %></div>
  <div class='title'><%= @comic.title %></div>
  <div class='content-comic'><%= @comic.content %></div>
  <div class='author'><%= link_to @comic.author.name, @comic.author %></div>
  <%= link_to 'Delete', @comic, method: :delete, data: { confirm: 'You sure?' } %> |
  <%= link_to 'Edit', edit_comic_path(@comic) %>
</li>
