<% provide :title, @comic.title %>
<h1><%= @comic.title %></h1>

<li id='comic-<%= @comic.id %>'>
  <div class='row'>
    <div class='col col-md-6'>
      <div class='picture-show'> 
        <%= image_tag @comic.picture.url if @comic.picture? %>
      </div>
    </div>
    <div class='col col-md-6'>
      <div class='title'>
        <%= t '.title' %>
        <%= @comic.title %>
      </div>
      <div class='content-comic'>
        <%= t '.intro' %>
        <%= sanitize @comic.content %>
      </div>
      <div class='author'>
        <%= t '.author' %>
        <%= link_to @comic.author.name, @comic.author %>
      </div>
      <div class='category'>
        <%= t '.category' %>
        <% @comic.categories.each do |category| %>
          <%= link_to category.name.capitalize, category %> |
        <% end %>
      </div>
      <% if logged_in? && current_user.admin? %>
        <%= link_to t('.delete'), @comic, method: :delete, data: { confirm: t('.sure') } %> |
        <%= link_to t('.edit'), edit_comic_path(@comic) %>
      <% end %>
      <%= render 'shared/comic_stats' %>
    </div>
  </div>
  <div>
    <% if logged_in? && current_user.admin? %>
      <h2><%= link_to t('.create'), new_comic_chapter_path(@comic) %></h2>
    <% end %>
  <div>
    <h2><%= t '.list' %></h2>
    <%= render @chapters %>
  </div>
</li>
