<%= form_for(@comic) do |f| %>
  <div class='field'>
    <%= f.text_field :title, placeholder: t('.new_title') %>
  </div>
  <div class='field'>
    <%= f.text_area :content, placeholder: t('.new_content') %>
  </div>
  <div class='field'>
  <%= f.select :author_id, options_from_collection_for_select(Author.all, :id, :name) %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit t('.post'), class: 'btn btn-primary' %>
<% end %>
