<% provide :title, @chapter.title %>

<h1>
  <strong><%= @chapter.title %></strong>
</h1>
<% @chapter_attachments.each do |chapter_attachment| %>
  <li>
    <%= image_tag chapter_attachment.picture_url %>
    <% if logged_in? && current_user.admin? %>
      <%= link_to t('.edit_image'), edit_chapter_attachment_path(chapter_attachment) %> |
      <%= link_to t('.delete'), chapter_attachment_path(chapter_attachment), method: :delete %>
    <% end %>
  </li>
<% end %><br>
<div>
  <% if logged_in? && current_user.admin? %>
    <%= link_to t('.edit'), edit_comic_chapter_path(@comic, @chapter) %>
  <% end %>
</div>
<div>
  <%= link_to t('.back'), @comic %>
</div>
<div>
  <%= select_tag 'chapter_select', options_from_collection_for_select(@comic.chapters.title_asc, :id, :title, @chapter.id), {onchange: 'if (this.value) window.location.href=this.value;'} %>
  <%= link_to t('.previous'), comic_chapter_path(@comic, @chapter.previous) if @chapter.previous %>
  <%= link_to t('.next'), comic_chapter_path(@comic, @chapter.next) if @chapter.next %>
</div>
<h3 id='comments'><%= t '.comments', count: @chapter.comments.count %></h3>
<% if logged_in? %>
  <li class='list-group-item'>
    <%= render 'comments/form', comment: @comment %>
  </li>
<% else %>
  <li class='list-group-item list-group-item-warning'>
    <%= link_to t('.login'), login_path, remote: true %><div id='myModal'></div>
  </li>
<% end %>
<ul class='list-group'>
  <%= render @comments %>
</ul>
