<header class='navbar'>
  <div class='container'>
    <nav>
      <ul class='form-search'>
        <%= form_tag comics_path, :method => 'get', id: 'search-form' do %>
          <%= text_field_tag :search, params[:search] %>
        <% end %>
      </ul>
      <ul class='nav navbar-nav navbar-left'>
        <li><%= link_to t('.home'), root_path %></li>
        <li><%= link_to t('.all_comics'), comics_path %></li>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><%= t('.category') %></a>
          <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
            <% Category.all.each do |category| %>
              <%= link_to category.name.capitalize, category_comics_path(category), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
        <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
          <%= t '.filter' %>
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
          <li><%= link_to t('.top'), comics_path(scope: 'rate_dsc') %></li>
          <li><%= link_to t('.new'), comics_path(scope: 'most_recent') %></li>
          <li><%= link_to t('.updated'), comics_path(scope: 'updated') %></li>
          <li><%= link_to t('.ongoing'), comics_path(scope: 'ongoing') %></li>
          <li><%= link_to t('.completed'), comics_path(scope: 'completed') %></li>
        </ul>
        <li><%= link_to t('.feedback'), '#' %></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t('.users'), users_path %></li>
          <% end %>
          <li><%= link_to t('.following'), user_follows_path(current_user) %></li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
              <%= current_user.name %>
              <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
              <li><%= link_to t('.profile'), current_user %></li>
              <li><%= link_to t('.settings'), edit_user_path(current_user) %></li>
              <li class='divider'></li>
              <li>
                <%= link_to t('.log_out'), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('.log_in'), login_path %></li>
          <li><%= link_to t('.sign_up'), signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
